.time-line-container > div.flex:last-child > .education__time > .education__line {
    display: none;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
    top: calc(50% - 32px);
    left: calc(50% - 23px);
    -webkit-animation-delay: 1709ms;
    animation-delay: 1709ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 1709ms;
    animation-delay: 1709ms;
}
.shooting_star:nth-child(2) {
    top: calc(50% - 168px);
    left: calc(50% - 90px);
    -webkit-animation-delay: 3175ms;
    animation-delay: 3175ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 3175ms;
    animation-delay: 3175ms;
}
.shooting_star:nth-child(3) {
    top: calc(50% - -83px);
    left: calc(50% - 175px);
    -webkit-animation-delay: 7898ms;
    animation-delay: 7898ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 7898ms;
    animation-delay: 7898ms;
}
.shooting_star:nth-child(4) {
    top: calc(50% - 192px);
    left: calc(50% - 90px);
    -webkit-animation-delay: 7180ms;
    animation-delay: 7180ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 7180ms;
    animation-delay: 7180ms;
}
.shooting_star:nth-child(5) {
    top: calc(50% - -126px);
    left: calc(50% - 256px);
    -webkit-animation-delay: 2187ms;
    animation-delay: 2187ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 2187ms;
    animation-delay: 2187ms;
}
.shooting_star:nth-child(6) {
    top: calc(50% - -147px);
    left: calc(50% - 289px);
    -webkit-animation-delay: 6333ms;
    animation-delay: 6333ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 6333ms;
    animation-delay: 6333ms;
}
.shooting_star:nth-child(7) {
    top: calc(50% - -144px);
    left: calc(50% - 130px);
    -webkit-animation-delay: 6449ms;
    animation-delay: 6449ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 6449ms;
    animation-delay: 6449ms;
}
.shooting_star:nth-child(8) {
    top: calc(50% - -68px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 8377ms;
    animation-delay: 8377ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 8377ms;
    animation-delay: 8377ms;
}
.shooting_star:nth-child(9) {
    top: calc(50% - 34px);
    left: calc(50% - 262px);
    -webkit-animation-delay: 1812ms;
    animation-delay: 1812ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 1812ms;
    animation-delay: 1812ms;
}
.shooting_star:nth-child(10) {
    top: calc(50% - -147px);
    left: calc(50% - 170px);
    -webkit-animation-delay: 4923ms;
    animation-delay: 4923ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 4923ms;
    animation-delay: 4923ms;
}
.shooting_star:nth-child(11) {
    top: calc(50% - -6px);
    left: calc(50% - 4px);
    -webkit-animation-delay: 2807ms;
    animation-delay: 2807ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 2807ms;
    animation-delay: 2807ms;
}
.shooting_star:nth-child(12) {
    top: calc(50% - 89px);
    left: calc(50% - 238px);
    -webkit-animation-delay: 1550ms;
    animation-delay: 1550ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 1550ms;
    animation-delay: 1550ms;
}
.shooting_star:nth-child(13) {
    top: calc(50% - 33px);
    left: calc(50% - 146px);
    -webkit-animation-delay: 5197ms;
    animation-delay: 5197ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 5197ms;
    animation-delay: 5197ms;
}
.shooting_star:nth-child(14) {
    top: calc(50% - -198px);
    left: calc(50% - 51px);
    -webkit-animation-delay: 3269ms;
    animation-delay: 3269ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 3269ms;
    animation-delay: 3269ms;
}
.shooting_star:nth-child(15) {
    top: calc(50% - -117px);
    left: calc(50% - 68px);
    -webkit-animation-delay: 6455ms;
    animation-delay: 6455ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 6455ms;
    animation-delay: 6455ms;
}
.shooting_star:nth-child(16) {
    top: calc(50% - 121px);
    left: calc(50% - 132px);
    -webkit-animation-delay: 5012ms;
    animation-delay: 5012ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 5012ms;
    animation-delay: 5012ms;
}
.shooting_star:nth-child(17) {
    top: calc(50% - 53px);
    left: calc(50% - 189px);
    -webkit-animation-delay: 9931ms;
    animation-delay: 9931ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 9931ms;
    animation-delay: 9931ms;
}
.shooting_star:nth-child(18) {
    top: calc(50% - 160px);
    left: calc(50% - 222px);
    -webkit-animation-delay: 522ms;
    animation-delay: 522ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 522ms;
    animation-delay: 522ms;
}
.shooting_star:nth-child(19) {
    top: calc(50% - 115px);
    left: calc(50% - 217px);
    -webkit-animation-delay: 2801ms;
    animation-delay: 2801ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 2801ms;
    animation-delay: 2801ms;
}
.shooting_star:nth-child(20) {
    top: calc(50% - 58px);
    left: calc(50% - 8px);
    -webkit-animation-delay: 2385ms;
    animation-delay: 2385ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 2385ms;
    animation-delay: 2385ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
