@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --animate-blink: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.time-line-container > div.flex:last-child > .education__time > .education__line {
  display: none;
}
