---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A HACKTIV8 graduate batch 45, currently bingchilling in Kab. Tangerang. I
    love programming in TypeScript because it's much easier to code in it than
    in vanilla JavaScript. I learned so much by understanding TypeScript and
    other languages that offer statically typed language. On that note, my other
    loved language is Rust. Syntactically not much different than
    JavaScript/TypeScript, but Rust is inheritably a whole new and better
    language, unlike TypeScript.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High School Degree"
      subtitle="2017 to 2020 at SMA Kristen Kalam Kudus, Jakarta Barat"
    />
    <TimeLineElement
      title="Full Stack JavaScript Developer"
      subtitle="June to September 2020 at HACKTIV8 Pondok Indah, Jakarta Selatan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="React and NodeJS Developer, UI and UX Designer, Tester"
      subtitle="From February to March 2021 at DocPaws startup, 1000startupdigital.id, Indonesia"
      desc={`An admin panel to manage all current, incoming, and outgoing transactions 
      in the mobile application and the backend. The frontend web was developed in React.`}
    />
    <TimeLineElement
      title="Golang, SQL Developer. REST API and Unit Tester"
      subtitle="From March to August 2021 at deJasa, Jakarta Barat"
      desc={`Fix and develop a chat system in Golang, 
      learned Go basics in 2 weeks to achieve multiple deadlines.
      Provide new api endpoints and SQL queries for the frontend in Go.`}
    />
    <TimeLineElement
      title="Mendix Low Code Developer"
      subtitle="From December 2021 to Current at PT. Talian Infodinamika, Slipi Tower, Jakarta Barat"
    >
      Create applications in Mendix platform, a low code solution to quickly
      ship business demands to customers. Compiles to Java as the backend
      server, React frontend with pluggabble code support, and React Native for
      mobile needs; all in one in Mendix.

      <div class="time-line-container">
        <TimeLineElement
          title="Becoming a Rapid Mendix Developer"
          subtitle="In December 2021"
          desc="Complete early bird training and beginner's guide into Mendix Platform."
        />
        <TimeLineElement
          title="BRI PMO Watchtower"
          subtitle="From January to April"
          desc="Modernize PMO website old code to manage BRI's internal projects into efficient Mendix code."
        />
        <TimeLineElement
          title="BRI Autodebet Ceria"
          subtitle="From March to June 2022"
          desc="Build from ground up an admin panel to manage Autodebet transactions, both in web and mobile applications fully in Mendix."
        />
        <TimeLineElement
          title="POC Area of Service Telkomsel"
          subtitle="In June 2022"
          desc="Integrate Google Maps with drawable objects into a React component inside Mendix App as a proof of concept project."
        />
        <TimeLineElement
          title="FSM Air Selangor"
          subtitle="From July to October 2022"
          desc="Create an admin panel to store and manage employees' data with an custom security system."
        />
        <TimeLineElement
          title="BRI PMO Watchtower 2"
          subtitle="From October to December 2022"
          desc="Overhaul the admin's interface and add extra functionalities, such as extensive modern graphs and working visual nodes inside Mendix"
        />
        <TimeLineElement
          title="Becoming an Intermediate Mendix Developer"
          subtitle="From December 2022 to March 2023"
          desc="Complete Intermediate Developer Certification."
        />
      </div>
      <TimeLineElement
        title="Front End Web Developer (NextJS)"
        subtitle="From March 2023 to Current at TalentMesh, Singapore"
        desc={`Develop TalentMesh website using NextJS TypeScript`}
      />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English</li>
    <li>Bahasa Indonesia</li>
    <li>Rust</li>
    <li>TypeScript</li>
    <li>Go</li>
    <li>JavaScript</li>
    <li>Sequelize ORM</li>
    <li>Diesel ORM</li>
    <li>SQuirrel SQLb</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>SASS/SCSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>Actix</li>
    <li>React</li>
    <li>Preact</li>
    <li>VueJs</li>
    <li>NestJS</li>
    <li>Astro</li>
    <li>Fastify</li>
    <li>Netlify</li>
    <li>Bootstrap</li>
    <li>Tailwind</li>
    <li>JQuery</li>
    <li>Git</li>
    <li>Trello</li>
    <li>Linux</li>
    <li>WSL</li>
    <li>WSA</li>
    <li>Bluestack</li>
    <li>AWS</li>
    <li>Ngrok</li>
    <li>Self Hosted Server</li>
    <li>Syncthing</li>
    <li>Google Cloud</li>
    <li>Basic Networking</li>
    <li>Basic Cloud Deployment</li>
    <li>Computer Techie</li>
    <li>UI Design</li>
    <li>UX Design</li>
    <li>WEB Design</li>
    <li>GIMP</li>
    <li>Office Suites</li>
  </ul>
</BaseLayout>
