---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Web developer from HACKTIV8 graduate batch 45, currently bingchilling in Kab. Tangerang. I mostly use TypeScript for
    programming web apps in different framworks. I learned so much by the time I started trying out TypeScript;
    understanding how important statically typed feature in a programming language. I also have a bit of experience in
    Rust programming language. It's an easy to understand but hard to master type of language in my opinion. But once
    you get used to it, it's a blazing good learning experience.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container flex flex-col gap-5 mb-10">
    <TimeLineElement title="High School Degree" subtitle="2017 to 2020 at SMA Kristen Kalam Kudus, Jakarta Barat" />
    <TimeLineElement
      title="Full Stack JavaScript Developer"
      subtitle="June to September 2020 at HACKTIV8 Pondok Indah, Jakarta Selatan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container flex flex-col gap-5 mb-10">
    <TimeLineElement
      title="React and NodeJS Developer, UI and UX Designer, Tester"
      subtitle="From February to March 2021 at DocPaws startup, 1000startupdigital.id, Indonesia"
      desc="An admin panel to manage all current, incoming, and outgoing transactions in the mobile application and the backend. The frontend web was developed in React."
    />
    <TimeLineElement
      title="Golang, SQL Developer. REST API and Unit Tester"
      subtitle="From March to August 2021 at deJasa, Jakarta Barat"
      desc="Fix and develop a chat system in Golang, learned Go basics in 2 weeks to achieve multiple deadlines. Provide new api endpoints and SQL queries for the frontend in Go."
    />
    <TimeLineElement
      title="Mendix Low Code Developer"
      subtitle="From December 2021 to March 2023 at PT. Cohesive Indonesia Group (aka Talian), Slipi Tower, Jakarta Barat"
    >
      Create applications in Mendix platform, a low code solution to quickly ship business demands to customers.
      Compiles to Java as the backend server, React frontend with pluggable code support, and React Native for mobile
      needs; all in one in Mendix.

      <div class="time-line-container flex flex-col mt-5 gap-5">
        <TimeLineElement
          title="Becoming a Rapid Mendix Developer"
          subtitle="In December 2021"
          desc="Complete early bird training and beginner's guide into Mendix Platform."
        />
        <TimeLineElement
          title="BRI PMO Watchtower"
          subtitle="From January to April"
          desc="Modernize the PMO website's old code to manage BRI's internal projects into efficient Mendix code."
        />
        <TimeLineElement
          title="BRI Autodebet Ceria"
          subtitle="From March to June 2022"
          desc="Build an admin panel to manage Autodebet transactions, both in web and mobile applications fully in Mendix."
        />
        <TimeLineElement
          title="POC Area of Service Telkomsel"
          subtitle="In June 2022"
          desc="Integrate Google Maps with drawable objects into a React component inside Mendix App as a proof of concept project."
        />
        <TimeLineElement
          title="FSM Air Selangor"
          subtitle="From July to October 2022"
          desc="Create an admin panel to store and manage employees' data with a custom security system."
        />
        <TimeLineElement
          title="BRI PMO Watchtower 2"
          subtitle="From October to December 2022"
          desc="Overhaul the admin's interface and add extra functionalities, such as extensive modern graphs and working visual nodes inside Mendix"
        />
        <TimeLineElement
          title="Becoming an Intermediate Mendix Developer"
          subtitle="From December 2022 to March 2023"
          desc="Complete Intermediate Developer Certification."
        />
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Front End Web Developer (NextJS)"
      subtitle="From March 2023 to Present at TalentMesh, Singapore"
      desc="Develop TalentMesh websites with React and NextJS TypeScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>TypeScript</li>
    <li>SCSS</li>
    <li>Rust</li>
    <li>Golang</li>
    <li>JQuery</li>
    <li>React</li>
    <li>Astro</li>
    <li>Linux</li>
    <li>Basic Networking</li>
    <li>I can build a pc</li>
    <li>UX Design</li>
    <li>Node.js</li>
  </ul>
</BaseLayout>
