---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TypingRole from "../components/TypingRole.astro";
import { getProjects } from "./projects/utils";

const last_projects = getProjects()
  // sort by time descending
  .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
  .slice(0, 3);
---

<BaseLayout>
  <div class="pb-10 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Klaustin</div>
    <TypingRole />
    <div class="py-5">
      <p class="text-lg">
        Welcome to my portfolio website, pleasure to meet you.
        You can find my cv and my links to social platforms
        <label for="my-drawer" class="lg:hidden underline">here</label>
        <span class="hidden lg:inline">in the side panel on the left</span>
      </p>
    </div>
    <div class="flex flex-col gap-5">
      <div>
        <text class="text-lg">
          This website can exist thanks to the open source community for the tools and template that were given freely.
        </text>
      </div>

      <div>
        <a
          role="button"
          href="https://github.com/chcoomilk/portfolio"
          target="_blank"
          class="btn btn-lg mr-5"
          title="The source code of this website"
        >
          Portfolio Repository
        </a>
        <a
          role="button"
          href="https://github.com/manuelernestog/astro-modern-personal-website"
          target="_blank"
          class="btn btn-lg btn-outline"
          title="The source code of the template"
        >
          Template Source Code
        </a>
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {
    last_projects.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.frontmatter.url}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
